<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-12">
    <h3><%= @title %></h3>
    <section class="stats">
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <div class="follow_index">
              <%= link_to image_tag(user.usericon, class: "usericon", :size => "30x30"), user %>
              <%= link_to user.name, user %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
    <% if @users.any? %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>